<ion-view title="Emergency" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-list id="emergency-list25">
      <ion-item class="item-icon-left" id="emergency-list-item101">
        <i class="icon ion-model-s"></i>Police/Embulance</ion-item>
    </ion-list>
    <ion-list id="emergency-list26">
      <ion-item id="emergency-list-item105" href="tel:999">Number
        <span class="item-note">999</span>
      </ion-item>
      <ion-item id="emergency-list-item106" href="mailto:Mail@dubaipolice.gov.ae">Email
        <span class="item-note">Mail@dubaipolice.gov.ae</span>
      </ion-item>
      <ion-item id="emergency-list-item107">SMS
        <span class="item-note">4488</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <ion-list id="emergency-list27">
      <ion-item class="item-icon-left" id="emergency-list-item108">
        <i class="icon ion-ios-people"></i>Family</ion-item>
    </ion-list>
    <ion-list id="emergency-list28">
      <ion-item id="emergency-list-item112" href="tel:+971567515767">Number
        <span class="item-note">+97167515767</span>
      </ion-item>
      <ion-item id="emergency-list-item113" href="mailto:wasihacked21@gmail.com">Email
        <span class="item-note">wasihacked21@gmail.com</span>
      </ion-item>
      <ion-item id="emergency-list-item114">SMS
        <span class="item-note">+971567515767</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <ion-list id="emergency-list29">
      <ion-item class="item-icon-left" id="emergency-list-item115">
        <i class="icon ion-ionic"></i>Doctor/Hospital</ion-item>
      <ion-list id="emergency-list30">
        <ion-item id="emergency-list-item119" href="tel:046661678">Number
          <span class="item-note">04-6661678</span>
        </ion-item>
        <ion-item id="emergency-list-item120" href="mailto:M.martain@gmail.com">Email
          <span class="item-note">M.martain@gmail.com</span>
        </ion-item>
        <ion-item id="emergency-list-item121">SMS
          <span class="item-note">+971505817558</span>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>