<ion-view title="Fitness" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="fitness-list11">
      <ion-item class="item-avatar" id="fitness-list-item76">
        <img src="img/ezLWJb9VRyWWAIj9qbBp_images1.jpg">
        <h2>GYM Trainer</h2>
        <p>LEO</p>
      </ion-item>
    </ion-list>
    <ion-list id="fitness-list16">
      <ion-item class="item-icon-right" id="fitness-list-item80" href="#" onclick="window.open('https://www.google.ae/maps/dir/''/''/data=!4m5!4m4!1m0!1m2!1m1!1s0x3e5f427c1c540487:0x77ba4a3da1cbaf2a?sa=X&amp;ved=0ahUKEwjFzPP3y7vQAhWFuhoKHekwDf8Q9RcICzAA', '_system', 'location=yes'); return false;">GYM
        <span class="item-note">Fitness 360</span>
        <i class="icon ion-trophy"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="fitness-list-item81">Number
        <span class="item-note">+9715678197</span>
        <i class="icon ion-ios-telephone"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <ion-list id="fitness-list17">
      <ion-item class="item-icon-left" id="fitness-list-item84">
        <i class="icon ion-ios-speedometer-outline"></i>BMI</ion-item>
    </ion-list>
    <ion-list id="fitness-list18">
      <ion-item id="fitness-list-item88">KG
        <span class="item-note">125</span>
      </ion-item>
      <ion-item id="fitness-list-item89">Height
        <span class="item-note">185</span>
      </ion-item>
      <ion-item id="fitness-list-item90">Status
        <span class="item-note">Obese</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <ion-list id="fitness-list19">
      <ion-item class="item-icon-left" id="fitness-list-item91">
        <i class="icon ion-android-bicycle"></i>Workout Type</ion-item>
      <ion-checkbox id="fitness-checkbox1">Cardio</ion-checkbox>
      <ion-checkbox id="fitness-checkbox2">Muscle stegthening </ion-checkbox>
      <ion-checkbox id="fitness-checkbox3">Streching</ion-checkbox>
      <ion-checkbox id="fitness-checkbox4">weight</ion-checkbox>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <ion-list id="fitness-list22">
      <ion-item class="item-icon-left" id="fitness-list-item98">
        <i class="icon ion-social-apple"></i>Diet </ion-item>
      <label class="item item-select" id="fitness-select1">
        <span class="input-label">Select</span>
        <select>
          <option></option>
          <option>Vegan</option>
          <option>Vegetarian</option>
          <option>Weight Gain Diet</option>
          <option>Weight watchers</option>
        </select>
      </label>
    </ion-list>
  </ion-content>
</ion-view>