<ion-view title="Health" hide-back-button="true" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="health-list8">
      <ion-item class="item-avatar" id="health-list-item18" ui-sref="tabsController.drMatain">
        <img src="img/tzYbhsvER6i7HeUwvHI3_images.jpg">
        <h2>Dr.Martain</h2>
        <p>Specialization</p>
      </ion-item>
    </ion-list>
    <ion-list id="health-list10">
      <ion-item id="health-list-item24" href="tel:+971567515767">Number
        <span class="item-note">+971567515767</span>
      </ion-item>
      <ion-item id="health-list-item25" href="mailto:wasihacked21@gmail.com">Email
        <span class="item-note">M.martain@gmail.com</span>
      </ion-item>
      <ion-item id="health-list-item26" href="#" onclick="window.open('https://www.google.ae/maps/place/Mediclinic+Welcare+Hospital/@25.246851,55.3401,15z/data=!4m2!3m1!1s0x0:0x44c0b00ff5b38367?sa=X&amp;ved=0ahUKEwjkmu-KyrrQAhUk04MKHYewCDUQ_BIIgwEwCg', '_system', 'location=yes'); return false;"
       >Hospital
        <span class="item-note">Mediclinic Welcare Hospital</span>
      </ion-item>
      <ion-item class="item-icon-left" id="health-list-item35">
        <i class="icon ion-scissors"></i>Surgeries Conducted</ion-item>
    </ion-list>
    <ion-list id="health-list12">
      <ion-item id="health-list-item40">Open heart sugeries</ion-item>
      <ion-item id="health-list-item39">Tonsillectomy</ion-item>
      <ion-item id="health-list-item41">Bariatric</ion-item>
      <ion-item class="item-icon-left" id="health-list-item44">
        <i class="icon ion-waterdrop"></i>Blood</ion-item>
      <ion-list id="health-list13">
        <ion-item id="health-list-item48">A+</ion-item>
        <ion-item id="health-list-item49">Donation
          <span class="item-note">Twice Per Year</span>
        </ion-item>
        <ion-item class="item-icon-left" id="health-list-item51">
          <i class="icon ion-leaf"></i>Treatment</ion-item>
        <ion-list id="health-list14">
          <ion-item id="health-list-item55">Medicane
            <span class="item-note">Asprine</span>
          </ion-item>
          <ion-item id="health-list-item56">Vitamins
            <span class="item-note">B12,D,E</span>
          </ion-item>
          <ion-item id="health-list-item57">Physical Treatment</ion-item>
          <ion-item class="item-icon-left" id="health-list-item58">
            <i class="icon ion-medkit"></i>Vaccines</ion-item>
          <ion-list id="health-list15">
            <ion-item id="health-list-item62">Varicella</ion-item>
            <ion-item id="health-list-item63">Yellow Fever</ion-item>
            <ion-item id="health-list-item64">Vaccine MMR combined</ion-item>
          </ion-list>
        </ion-list>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>