<ion-view title="PROFILE" id="page2" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/EYUoRUOcRNG5q4crxpHO_depositphotos_3682655-Uae-coat-of-arms.jpg" style="display: block; width: 25%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <div>
      <img src="img/sEVTdntfR0OD6qWHfnWS_chris_palmer_profile_11.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <ion-list id="pROFILE-list7">
      <ion-item class="item-icon-left" id="pROFILE-list-item14">
        <i class="icon ion-ios-personadd"></i>NAME
        <span class="item-note">WASI</span>
      </ion-item>
      <ion-item class="item-icon-left" id="pROFILE-list-item15">
        <i class="icon ion-pound"></i>AGE
        <span class="item-note">48</span>
      </ion-item>
      <ion-item class="item-icon-left" id="pROFILE-list-item16">
        <i class="icon ion-pound"></i>UAE ID
        <span class="item-note">687-1987-9875168-9</span>
      </ion-item>
      <ion-list id="pROFILE-list35">
        <ion-item class="item-icon-left  Number" id="pROFILE-list-item136" href="mailto:">
          <i class="icon ion-ios-telephone"></i>Number
          <span class="item-note">+971567515767</span>
        </ion-item>
        <ion-item class="item-icon-left" id="pROFILE-list-item137" href="mailto:wasihacked21@gmail.com">
          <i class="icon ion-email-unread"></i>Email
          <span class="item-note">Wasihacked21@gmail.com</span>
        </ion-item>
        <ion-item class="item-icon-left" id="pROFILE-list-item138">
          <i class="icon ion-android-textsms"></i>SMS
          <span class="item-note">+971567515767</span>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <ion-list id="pROFILE-list33">
      <ion-item class="item-icon-left" id="pROFILE-list-item129">
        <i class="icon ion-ios-infinite"></i>Insurance </ion-item>
      <ion-list id="pROFILE-list34">
        <ion-item id="pROFILE-list-item133">Company
          <span class="item-note">Adnic</span>
        </ion-item>
        <ion-item id="pROFILE-list-item134">EID
          <span class="item-note">148-1998-0000-0015789-2</span>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>