<ion-view title="Settings" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="settings-form2" class="list">
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle2">Nurse Mode</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle3">Share Location</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle6">Tilt sensor</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle7">Quite mode</ion-toggle>
    </form>
  </ion-content>
</ion-view>