<ion-view title="Status" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="status-list32">
      <ion-item class="item-icon-left" id="status-list-item123" href="#" onclick="window.open('https://www.google.ae/maps?q=burj+khalifa&amp;ion=1&amp;espv=2&amp;bav=on.2,or.r_cp.&amp;bvm=bv.139250283,d.d24&amp;biw=1366&amp;bih=589&amp;dpr=1&amp;um=1&amp;ie=UTF-8&amp;sa=X&amp;ved=0ahUKEwjd_eP337vQAhVCVRQKHaT3CGcQ_AUIBygC', '_system', 'location=yes'); return false;">
        <i class="icon ion-ios-location"></i>Auto Current Location </ion-item>
      <ion-item class="item-icon-left" id="status-list-item124">
        <i class="icon No Icon"></i>SpO2 Level
        <span class="item-note">97%</span>
      </ion-item>
      <ion-item class="item-icon-left" id="status-list-item125">
        <i class="icon No Icon"></i>Glucose Tolerance
        <span class="item-note">140mg/dL</span>
      </ion-item>
      <ion-item class="item-icon-left" id="status-list-item126">
        <i class="icon No Icon"></i>NitrogenOxide
        <span class="item-note">11ppb</span>
      </ion-item>
      <ion-item class="item-icon-left" id="status-list-item127">
        <i class="icon No Icon"></i>BMI
        <span class="item-note">25 KG/m^2</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>