<ion-view title="Tabs Controller" hide-back-button="true" id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Profile" icon="ion-ios-body" href="#/page1/page2" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Status" icon="ion-clipboard" href="#/page1/page12" id="tabsController-tab6">
      <ion-nav-view name="tab6"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Health" icon="ion-ios-pulse-strong" href="#/page1/page6" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Fitness" icon="ion-android-walk" href="#/page1/page3" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Emergency" icon="ion-plus" href="#/page1/page8" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Setting" icon="ion-settings" href="#/page1/page9" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>